[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bnlearn"]
	path = bnlearn
	url = https://github.com/cran/bnlearn
[submodule "fairml"]
	path = fairml
	url = https://github.com/cran/fairml
[submodule "rbmn"]
	path = rbmn
	url = https://github.com/cran/rbmn
